/* CountryList.css */
.country-list {
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Par défaut, 2 colonnes */
  gap: 1rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .country-list {
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes pour les écrans md */
  }
}

@media (min-width: 1024px) {
  .country-list {
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes pour les écrans lg */
  }
}

.country-card {
  border: 1px solid #e5e7eb; /* Couleur de bordure légère */
  border-radius: 1rem; /* Bordure arrondie */
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.country-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Ombre plus forte au survol */
}

.country-emoji {
  font-size: 2rem; /* Taille de l'emoji */
}

.country-name {
  margin-top: 0.5rem;
  font-weight: 600; /* Texte en semi-gras */
}
